.bg{
    width: 400px;
    z-index: 999;

    @media (max-width:738px) {
        width: 100%;
    }
}

button{
    border-radius: 50% ;
    z-index: 999;
}

.Links{
    a{
        font-size: 40px;
    }
}