@import url("../../App.css");
img{
    height: 20px;
    width: 20px;
}
.nitish-logo{
    height: 45px;
    width: 157.5px;

    @media (max-width: 738px) {
        display: none;
    }
}
.navbar{
    height: 100px;
}

.wrapper{
    max-width: 1366px;
    margin: auto;

    @media (max-width: 738px) {
        justify-content: flex-end;
    }
}

.social{
    gap: 20px;

   
}